@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.ttf');
    font-family: 'Poppins Italic'
}

h1, h4 {
    color: rgb(98, 121, 104);
    text-decoration-line: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* html{
    background-color: rgb(252, 231, 204);
} */

caption{
    font-size: 25px;
    color: darkslategrey;
    text-decoration: underline;
    padding-bottom: 15px;

}

.dias {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 16px;
}

table{
    text-align: center;
    border-style: groove;
    border-width: 2px;
    border-collapse: collapse;
    margin: auto;
    background-color: rgb(235, 237, 238);
}

td{
    border-style: groove;
    border-collapse: collapse;
    width: 110px;
    height: 70px;
}

tr{
    border-style: groove;
    border-collapse: collapse;
    border-width: 2px;
    padding: 15px;   
}

th{
    border-style: groove;
    border-collapse: collapse;
    border-width: 2px;
    padding: 15px;
}

#logo{
    width: 60px;
}

.aula{
    font-style: italic;
}

#patio{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

#Tut-Alum-poppins{
    font-family: 'Poppins Italic', sans-serif;
    background-color: rgba(126, 240, 202, 0.699);
    font-size: 14px;
}

#m04{
    background-color: rgb(236, 238, 143);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.m03{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(230, 122, 194, 0.507);
    font-size: 15px;
}

#m16ANG{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(188, 223, 132, 0.89);
    font-size: 16px;
}

.m01{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(241, 183, 107, 0.89);
    font-size: 16px;
}

.m02{
    font-family: monospace, sans-serif;
    background-color: rgba(218, 122, 162, 0.89);
    font-size: 15px;
}

#m15SOS{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(204, 188, 248);
    font-size: 15px;
}

.m10IPO1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(160, 200, 238);
    font-size: 14px;
}

#m14DIG{
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(161, 184, 145);
    font-size: 16px;
}

#m05{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(155, 202, 187);
    font-size: 14px;
}

.horas{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 13px;
}