@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans/1OpenSans-NormalFont_wdth\,wght.ttf');
}
#meow-fugaz{
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#meow-opensans{
    font-family: OpenSans;
    color:rgb(90, 146, 168)
}
